@charset "UTF-8";
/*颜色定义*/
.clearfix{
	list-style: none;
}
#login-area {
  float: right;
  position: relative;
}
.header-unlogin li {
  float: left;
}
.header-signin a,
.header-signup a {
  display: block;
  width: 60px;
  font-size: 14px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  color: #787d82;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.header-signin a:hover {
  color: #fff;
  background-color: #cc0000;
}
.header-signup a:hover {
  color: #fff;
  background-color: #363c41;
}
.logined > li {
  float: left;
}
.logined li > a {
  display: block;
  height: 60px;
  line-height: 60px;
  width: 60px;
  color: #787d82;
  text-align: center;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.logined li > a:hover {
  color: #fff;
  background-color: #363c41;
}
#header-avator:hover {
  background-color: transparent;
}
/* 顶部导航用户卡片 */
.g-user-card {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  padding-top: 10px;
  /* opacity: 0;
  filter: alpha(opacity=0); */
  visibility: hidden;
  /* transform: rotateY(30deg) rotateX(-10deg);
  transition: all .3s, transform 0.6s cubic-bezier(0.285, 1.65, 0.745, 1.65); */
  z-index: 1000;
}
.g-user-card .card-inner {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.g-user-card .card-top {
  padding-left: 100px;
  height: 100px;
  background: #f34131 url(/static/img/common/user_card_top.png) no-repeat center 0;
  color: #fff;
}
.g-user-card .card-top img {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 20px 0 0 -82px;
}
.g-user-card .card-top .name {
  display: block;
  padding-top: 30px;
  font-size: 18px;
}
.g-user-card .card-top .meta {
  font-size: 12px;
}
.g-user-card .card-top .meta span {
  margin-right: 12px;
}
.g-user-card .card-top .meta b {
  margin-left: 2px;
}
.g-user-card .card-links {
  position: relative;
  height: 60px;
  line-height: 60px;
}
.g-user-card .card-links a,
.g-user-card .card-links .split {
  position: absolute;
}
.g-user-card .card-links .split {
  left: 150px;
  top: 0;
  margin-top: 15px;
  width: 1px;
  height: 30px;
  background-color: #edf1f2;
}
.g-user-card .card-links a {
  left: 20px;
  top: 0;
  font-weight: bold;
}
.g-user-card .card-links .my-sns {
  left: 172px;
}
.g-user-card .card-history,
.g-user-card .card-links {
  margin-bottom: -1px;
  border-bottom: 1px solid #edf1f2;
}
.g-user-card .card-history {
  height: 70px;
}
.g-user-card .card-history .history-item {
  display: block;
  position: relative;
  padding: 18px 74px 14px 46px;
  font-size: 12px;
  color: #787d82;
  transition: background-color 0.2s;
}
.g-user-card .card-history .history-item .tit {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
}
.g-user-card .card-history .history-item .media-name {
  display: block;
}
.g-user-card .card-history .history-item .icon-clock {
  position: absolute;
  left: 20px;
  top: 22px;
}
.g-user-card .card-history .history-item .continue {
  position: absolute;
  right: 20px;
  top: 18px;
  color: #f01400;
}
.g-user-card .card-history .history-item .continue:hover {
  color: #d81200;
}
.g-user-card .card-sets {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
}
.g-user-card .card-sets a {
  color: #787d82;
}
.g-user-card .card-sets a:hover {
  color: #f01400;
}
.g-user-card .card-arr {
  position: absolute;
  right: 23px;
  top: 2px;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #f01400 transparent;
  border-style: solid;
}
.user-card-box {
  position: relative;
}
.user-card-box:hover .g-user-card {
  visibility: visible;
  /* opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0) rotateX(0); */
}
.user-card-box .user-card-item img {
  width: 28px;
  height: 28px;
  border-color: #4d5559;
}
.user-card-box:hover .user-card-item img {
  border-color: #f22c1a;
}
